extends layout

block content
  main(class='main' id='result-content')
    div(id='poem-wrapper' class='poem-wrapper')
      h1(id='poem-title') #{title}
      if isDisambiguation
        h2 这是一个消歧义项
        form(action="/lookup" method="POST")
          each element in content
            input(class="disambiguation-list"
              type="submit"
              name="searchText"
              value=element)
      else
        pre(id='poem-text') #{content}

  unless isDisambiguation
    div(id='buttons')
      input(id='to-image' type='button' value='转换成图片')
      input(id='stts' type='button' value='繁简转换')

    div(id='result-image-div')

    script(src='javascripts/bundle.js' type='text/javascript')
